<mat-dialog-content>
  <p mat-dialog-title>{{dialogTitle}}</p>

  <mat-form-field class="w-100">
    <mat-label>Название (обязательно)</mat-label>
    <input matInput [(ngModel)]="tmpTitle" (keydown.enter)="onConfirm()" />
    <button
      *ngIf="tmpTitle && tmpTitle.trim().length"
      mat-button matSuffix mat-icon-button aria-label="Clear"
      (click)="tmpTitle = ''" class="dialog-todo-title"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onConfirm()"
          [disabled]="!tmpTitle || !tmpTitle.trim().length">Сохранить</button>
  <button mat-raised-button (click)="onCancel()">Отмена</button>
</mat-dialog-actions>
