<mat-dialog-content>
  <p mat-dialog-title>{{dialogTitle}}</p>

  <mat-form-field>
    <mat-label>Название (обязательно)</mat-label>
    <input matInput [(ngModel)]="tmpTitle" (keydown.enter)="onConfirm()" />
    <button
      *ngIf="tmpTitle && tmpTitle.trim().length"
      mat-button matSuffix mat-icon-button aria-label="Clear"
      (click)="tmpTitle = ''" class="dialog-todo-title"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Категория</mat-label>
    <mat-select [(ngModel)]="tmpCategory">
      <mat-option [value]="null">Без категории</mat-option>
      <mat-option *ngFor="let category of categories" [value]="category">
        {{category.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Приоритет</mat-label>
    <mat-select [(ngModel)]="tmpPriority">
      <mat-option [value]="null">Без категории</mat-option>
      <mat-option *ngFor="let priority of priorities" [value]="priority">
        {{priority.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input
      #inputDate
      readonly placeholder="Срок выполнения"
      matInput [matDatepicker]="picker"
      [(ngModel)]="tmpDate" (click)="picker.open()"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <button
      *ngIf="inputDate.value.trim().length"
      mat-button matSuffix mat-icon-button aria-label="Clear"
      (click)="tmpDate = null"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions>
  <div class="row w-100">
    <div class="col-md-5 col-12">
      <button mat-raised-button color="primary" (click)="onConfirm()"
              [disabled]="!tmpTitle || !tmpTitle.trim().length">Сохранить</button>
      <button mat-raised-button (click)="onCancel()">Отмена</button>
    </div>
    <div class="col-md-7 col-12 text-right">
      <button mat-button class="green" *ngIf="!task.completed" (click)="complete()">Завершить задачу</button>
      <button mat-button class="green" *ngIf="task.completed" (click)="activate()">Активировать</button>
      <button mat-button class="red" (click)="delete()">Удалить задачу</button>
    </div>
  </div>

</mat-dialog-actions>
