<div class="card">
  <div class="card-header card-header-warning">
    <h4 class="card-title">Список задач</h4>
  </div>
  <div class="card-body" *ngIf="tasks && tasks.length > 0">
    <table [dataSource]="dataSource" mat-table matSort>
      <!-- цвет приоритета-->
      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let task" class="col-color" [style.background-color]="getPriorityColor(task)"></td>
      </ng-container>

      <!-- нумерация -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let index = index" class="col-id">
          {{index + 1}}
        </td>
      </ng-container>

      <!-- название задачи -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Название</th>
        <td mat-cell *matCellDef="let task" [class.completed]="task.completed" class="col-title pointer" (click)="onClickTask(task)">
          {{task.title}}
        </td>
      </ng-container>

      <!-- дата выполнения -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Срок</th>
        <td mat-cell *matCellDef="let task" [ngClass]="{'completed': task.completed, 'novalue': !task.date}"
            class="col-date"
        >
          {{ task.date ? (task.date | date: 'medium') : 'Без даты'}}
        </td>
      </ng-container>

      <!-- приоритет -->
      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Приоритет</th>
        <td mat-cell *matCellDef="let task" [ngClass]="{'completed': task.completed, 'novalue': !task.priority}"
            class="col-priority"
        >
          {{task.priority ? task.priority.title : 'Без приоритета'}}
        </td>
      </ng-container>

      <!-- категория -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Категория</th>
        <td mat-cell *matCellDef="let task" [ngClass]="{'completed': task.completed, 'novalue': !task.category}"
            class="col-category"
        >
          {{task.category ? task.category.title : 'Без категории'}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10,20,50,100]" showFirstLastButtons></mat-paginator>
  </div>
  <div *ngIf="tasks && tasks.length == 0">
    <p class="not-found">Ничего не найдено</p>
  </div>
</div>
